<h1>Add an image</h1>

<%= form_with model: @image, local: true do |form| %>
    <div>
        <%= form.text_field :title, placeholder: "Title or short caption" %>
    </div>

    <div>
        <%= form.file_field :imageFile %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<% if @image.errors.any? %>
    <ul>
        <% @image.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<p><%= link_to "Cancel", root_path %></p>