<h1>Add an image</h1>

<%= form_with model: @image, local: true do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.file_field :imageFile %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<p><%= link_to "Cancel", root_path %></p>